[".oh-my-zsh"]
type = "git-repo"
url = "https://github.com/ohmyzsh/ohmyzsh.git"
refreshPeriod = "168h"

{{- $profileName := get . "profile" | default "default" -}}
{{- $profile := index .profiles $profileName -}}
{{- $features := get $profile "features" | default (dict) -}}
{{- $deps := get $profile "dependencies" | default (dict) -}}
{{- $commands := get $deps "commands" | default (list) -}}
{{- $byFeature := get $deps "byFeature" | default (dict) -}}
{{- range $featureName, $featureDeps := $byFeature -}}
{{- if (get $features $featureName | default false) -}}
{{- $commands = concat $commands (get $featureDeps "commands" | default (list)) -}}
{{- end -}}
{{- end -}}
{{- $usesTmux := false -}}
{{- range $commands -}}
{{- if eq . "tmux" }}{{ $usesTmux = true }}{{ end -}}
{{- end -}}
{{- if $usesTmux }}
[".config/tmux/plugins/tmux-sensible"]
type = "git-repo"
url = "https://github.com/tmux-plugins/tmux-sensible.git"
refreshPeriod = "168h"

[".config/tmux/plugins/vim-tmux-navigator"]
type = "git-repo"
url = "https://github.com/christoomey/vim-tmux-navigator.git"
refreshPeriod = "168h"

[".config/tmux/plugins/tpm"]
type = "git-repo"
url = "https://github.com/tmux-plugins/tpm.git"
refreshPeriod = "168h"

[".config/tmux/plugins/tmux-which-key"]
type = "git-repo"
url = "https://github.com/alexwforsythe/tmux-which-key.git"
refreshPeriod = "168h"
{{- end }}

{{- if (get $features "agents" | default false) }}
[".agents"]
type = "git-repo"
url = "https://github.com/JoBuRo/codex-committorum.git"
refreshPeriod = "168h"
{{- end }}
