{{ $profileName := get . "profile" | default "default" }}
{{ $profile := index .profiles $profileName }}
{{ $features := get $profile "features" | default (dict) }}
{{ $isRoot := eq .chezmoi.username "root" }}

{{ if not (get $features "tmux" | default false) }}
.config/tmux
.config/tmux/**
{{ end }}

{{ if or $isRoot (not (get $features "nvim" | default false)) }}
.config/nvim
.config/nvim/**
{{ end }}

{{ if not (or $isRoot (get $features "vim" | default false)) }}
.vimrc
{{ end }}

{{ if not (get $features "bottom" | default false) }}
.config/bottom
.config/bottom/**
{{ end }}

{{ if not (get $features "yazi" | default false) }}
.config/yazi
.config/yazi/**
{{ end }}

{{ if not (get $features "opencode" | default false) }}
.config/opencode
.config/opencode/**
{{ end }}
